.max-height{
    min-height: 90vh;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.banner {
    color: #fff;
    margin-top: -64px;
    margin-top: -4rem;
}
.banner-title {
    color: white;
    font-size: 64px;
    font-size: 4rem;
}